---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>Network And Open Source Institute</h1>
    <p>
      NAOSI is a student organization at Dalian University of Technology that
      focuses on open source software and networking.
    </p>
  </main>
</Layout>
