---
import { getCollection } from "astro:content";
import Service from "../components/Service.astro";
import Layout from "../layouts/Layout.astro";
import Article from "../components/Article.astro";

const events = await getCollection("events");
const blog = await getCollection("blog");
---

<Layout>
  <h2>服务导航</h2>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
  >
    <Service
      icon="i-ri-graduation-cap-fill"
      href="https://man.naosi.org/course/pan/"
      title="资料云盘"
      description="汇集各类学习资料"
    />
    <Service
      icon="i-ri-compass-3-fill"
      href="https://man.naosi.org/"
      title="生存手册"
      description="一站式生活指南"
    />
    <Service
      icon="i-ri-archive-2-fill"
      href="http://mirror.dlut.edu.cn/"
      title="开源镜像"
      description="开源软件镜像站"
    />
    <Service
      icon="i-ri-earth-fill"
      href="http://man.naosi.org/life/service/network/#dns"
      title="域名解析"
      description="202.118.66.6"
    />
    <Service
      icon="i-ri-time-fill"
      href="http://man.naosi.org/life/service/network/#ntp"
      title="授时服务"
      description="time.dlut.edu.cn"
    />
    <Service
      icon="i-ri-mail-fill"
      href="https://naosi-dlut.feishu.cn/mail"
      title="社团邮箱"
      description="support@naosi.org"
    />
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
      <h2>近期活动</h2>
      <div>
        {
          events
            .sort((a, b) => {
              return b.data.date.getTime() - a.data.date.getTime();
            })
            .slice(0, 5)
            .map(async (entry) => <Article entry={entry} />)
        }
      </div>
    </div>
    <div>
      <h2>社团博客</h2>
      <div>
        {
          blog
            .sort((a, b) => {
              return b.data.date.getTime() - a.data.date.getTime();
            })
            .slice(0, 5)
            .map(async (entry) => <Article entry={entry} />)
        }
      </div>
    </div>
  </div>
</Layout>

<style>
  h2 {
    @apply text-2xl before:content-["#"] before:mr-2;
  }
</style>
