---
import Tag from "./Tag.astro";
---

<footer class="bg-lime-900 text-white">
  <div
    class="max-w-4xl mx-auto p-4 prose grid grid-cols-1 md:grid-cols-2 gap-x-4"
  >
    <div>
      <p>
        大连理工大学网络与开源协会成立于 2021
        年，是一个由大连理工大学学生自发组成的开源爱好者组织。我们奉行开源与奉献的协会精神，以项目和热爱为基础，致力于推动开源文化的发展。
      </p>
    </div>
    <div>
      <p>
        联系我们：

        <Tag href="https://github.com/NAOSI-DLUT">
          <span class="i-ri-github-fill"></span>
          <span>GitHub</span>
        </Tag>
        <Tag href="https://qm.qq.com/q/AxAh9JeZs4">
          <span class="i-ri-qq-fill"></span>
          <span>724021138</span>
        </Tag>
        <Tag href="https://space.bilibili.com/1058346981">
          <span class="i-ri-bilibili-fill"></span>
          <span>NAOSI-DLUT</span>
        </Tag>
        <Tag href="mailto:support@naosi.org">
          <span class="i-ri-mail-fill"></span>
          <span>support@naosi.org</span>
        </Tag>
      </p>
    </div>
  </div>
</footer>
