<footer>
  <div class="footer-upper">
    <div class="footer-inner">
      <div class="footer-descrption">
        大连理工大学网络与开源软件协会成立于 2022
        年，是一个由大连理工大学学生自发组成的开源软件爱好者组织。
      </div>
      <div class="footer-contact">
        <h3>联系我们</h3>
        <a href="https://github.com/NAOSI-DLUT" target="_blank">
          <i class="fa fa-github">GitHub</i>
        </a>
        <a href="javascript:void(0)">
          <i class="fa fa-envelope">support#naosi.org</i>
        </a>
        <a href="https://qm.qq.com/q/7MtavKTyms">
          <i class="fa fa-qq">QQ</i>
        </a>
      </div>
      <img src="/logo.svg" alt="naosi-logo" width="200px" />
    </div>
  </div>
  <div class="footer-lower">
    <div class="footer-inner">
      <div>© 2024 大连理工大学网络与开源软件协会</div>
    </div>
  </div>

  <style>
    footer {
      display: block;
      width: 100%;
    }

    .footer-upper {
      font-size: 0.9rem;
      background-color: #34452d;
    }

    .footer-lower {
      font-size: 0.8rem;
      background-color: #1a2117;
    }

    .footer-inner {
      max-width: 960px;
      margin: 0 auto;
      padding: 16px;
      color: #fdfdfd;
    }

    .footer-upper .footer-inner {
      display: flex;
      justify-content: space-between;
      gap: 16px;
      flex-wrap: wrap;
    }

    .footer-descrption {
      max-width: 400px;
    }

    .footer-contact h3 {
      margin: 0;
    }

    .footer-contact a {
      display: block;
      color: var(--primary);
      text-decoration: none;
    }

    .footer-contact a:hover {
      color: var(--primary-hover);
    }

    .footer-contact i::before {
      margin-right: 6px;
    }
  </style>
</footer>
