---
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import { Icon } from "astro-icon/components";
import ContentLayout from "../../layouts/ContentLayout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blogs");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<ContentLayout>
  <div class="markdown-body">
    <h1>{entry.data.title}</h1>
    <p class="info">
      <span class="icon-align">
        <Icon name="ri:calendar-event-fill" />
        <span>
          {dayjs(entry.data.date).format("YYYY-MM-DD")}
        </span>
      </span>
    </p>
    <Content />
  </div>
</ContentLayout>
