---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const entries = await getCollection("blogs");
---

<Layout>
  {
    entries.map((entry) => (
      <article>
        <h2>
          <a href={`/blogs/${entry.slug}`}>{entry.data.title}</a>
        </h2>
        <p>{entry.body.slice(0, 100)}</p>
      </article>
    ))
  }
</Layout>
