---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import dayjs from "dayjs";
import { Icon } from "astro-icon/components";

export async function getStaticPaths() {
  const eventEntries = await getCollection("events");
  return eventEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout>
  <div class="markdown-body">
    <h1>{entry.data.title}</h1>
    <p class="info">
      <span class="icon-align">
        <Icon name="ri:calendar-event-fill" />
        <span>
          {dayjs(entry.data.date).format("YYYY-MM-DD HH:mm")}
        </span>
      </span>
      <span class="icon-align">
        <Icon name="ri:map-pin-fill" />
        <span>{entry.data.location}</span>
      </span>
    </p>
    <Content />
  </div>
</Layout>
